<header>
  <nav>
    <a href="/">Home</a>
    <a href="/inventory">Inventar</a>
    <a href="/open-egg">Ei öffnen</a>
    <a href="/user-search">Nutzer suchen</a>
    <a href="/leaderboard">Top 10</a>
    <% if (user && user.is_admin) { %>
      <a href="/admin">Admin</a>
    <% } %>
    <a href="/logout" style="float:right">Logout (<%= user ? user.username : '' %>)</a>
  </nav>
</header>