<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Ei öffnen</title>
  <link rel="stylesheet" href="/css/style.css" />
  <script defer src="/js/egg_open.js"></script>
</head>
<body>
<%- include('partials/header', { user: user }) %>
<div class="centered">
  <h2>Ei öffnen (<%= egg.rarity %>)</h2>
  <div id="egg-opening">
    <div id="egg-anim" class="<%= egg.rarity %>"></div>
    <button id="openEggBtn">Ei jetzt öffnen!</button>
    <div id="result"></div>
  </div>
</div>
<%- include('partials/footer') %>
</body>
</html>