<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <title>Registrieren</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body class="centered">
  <div class="register-box">
    <h2>Registrieren</h2>
    <% if(error){ %><div class="error"><%= error %></div><% } %>
    <form method="POST">
      <input type="text" name="username" placeholder="Benutzername" required pattern="[A-Za-z0-9]+"/><br/>
      <input type="password" name="password" placeholder="Passwort" required/><br/>
      <button type="submit">Registrieren</button>
    </form>
    <a href="/login">Schon registriert?</a>
  </div>
</body>
</html>